@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); 

h1, h3 {
    background-color: #314151;
    border-left: 10px solid #314151;
    border-right: 150px solid #717e87;
}

h3 {
    margin-bottom: 50px;
}

html, body, [class*="css"] {
    font-family: 'Roboto', sans-serif; 
    /* font-weight: bold; */
    font-size: 20px;
    color: #ffffff;
}